@import vars

.main-cart
	padding-top: 96px
	padding-bottom: 128px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	&__left
		display: flex
		flex-direction: column
	&__card
		display: flex
		flex-direction: row
		justify-content: center
		width: 100%
		max-width: 650px
		max-height: 306px 
		box-shadow: 0px 0px 15px $color1_3
	&__card:not(last-child)
		margin-bottom: 40px
	&__image
		max-width: 260px
		max-height: 300px
	&__image img
		max-width: 260px
		max-height: 300px
	&__info
		display: flex
		flex-direction: column
		padding: 22px 31px 50px 22px
		background: $color2_1
		width: 390px
		position: relative
	&__leftHeading
		display: flex
		font-size: 24px
		line-height: 29px
		color: $color1_1
		margin-bottom: 42px
		max-width: 200px
	&__exit
		cursor: pointer
		position: absolute
		top: 22px
		right: 28px
	&__exit:hover path
		fill: $color0_1
	&__form
		display: flex
		flex-direction: column
	&__category
		display: flex
		flex-direction: row
		align-items: center
	&__category:not(last-child)
		margin-bottom: 6px
	&__label
		font-size: 22px
		line-height: 26px
		color: $color1_9
	&__item
		font-size: 22px
		line-height: 26px
		color: $color1_9
		padding-left: 5px
		&-price
			color: $color0_1
	&__itemInput
		font-size: 22px
		line-height: 26px
		color: $color1_9
		border: 1px solid $color1_15
		width: 48px
		height: 24px
		text-align: center
		margin-left: 5px
			
	&__right
		display: flex
		flex-direction: column
	&__rightTop
		max-width: 360px
		margin-bottom: 56px
	&__rightForm
		display: flex
		flex-direction: column
	&__rightHeading
		width: 100%
		font-weight: 300
		font-size: 16px
		line-height: 19px
		color: $color1_1
		margin-bottom: 20px
	&__input
		width: 360px
		border: 1px solid $color1_12
		font-weight: 300
		font-size: 13px
		line-height: 16px
		color: $color1_16
		padding: 13px 16px 16px 16px
	&__input:not(last-child)
		margin-bottom: 20px
	&__GetaQuote
		background: $color2_1
		cursor: pointer
		margin-top: 24px
		border: 1px solid $color1_12
		width: 100px
		height: 34px
		font-weight: 300
		font-size: 11px
		line-height: 13px
		color: $color1_17
	&__rightBottom
		max-width: 360px
		background: $color1_11
	&__inner
		padding: 39px 34px 42px 34px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	&__subtotal
		width: 100%
		font-size: 11px
		line-height: 13px
		text-align: right
		margin-bottom: 12px
		&-label
			color: $color1_17
		&-cost
			color: $color1_17
			padding-left: 20px
	&__total
		width: 100%
		font-weight: 300
		font-size: 16px
		line-height: 19px
		text-align: right
		&-label
			color: $color1_1
		&-cost
			color: $color0_1
			padding-left: 20px
			font-weight: bold
	&__hr
		border: none
		width: 100%
		background: $color1_13
		height: 1px
		margin: 20px 0 16px 0
	&__checkout
		cursor: pointer
		border: none
		background: $color0_1
		height: 50px
		width: 270px
		font-weight: 300
		font-size: 16px
		line-height: 19px
		color: $color2_1
