@import vars

*
    margin: 0
    padding: 0

a
    color: $color1_3
    text-decoration: none
a:hover
    color: $color0_1
    transition: color .45s ease
ul,ol
    margin: 0
    padding: 0
li
    list-style: none
label
    cursor: pointer
body
    font-family: 'Lato'
html,body
    height: 100%
details, :hover, :active, :focus
    outline: none
    outline-offset: 0
summary
    cursor: pointer
    user-select: none
    &::-webkit-details-marker
        display: none
details[open]
    transition: all .9s ease
.wrapper
    min-height: 100%
    display: flex
    flex-direction: column
.main,.main-cart
    flex-grow: 1
    min-height: 100%
.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)
.header
    height: 75px
    background-color: $color1_1
    display: flex
    justify-content: space-between
    &__left
        display: flex
        align-items: center
    &__search
        width: 100%
        min-height: 75px
        display: flex
        align-items: center
        margin-left: 41px
        cursor: pointer
        
    &__right
        display: flex
        align-items: center
        justify-content: space-between
        width: 168px
    &__checkbox

    &__icon
    &__mobile
        display: none
.nav
    z-index: 1
    background: $color2_1
    padding: 16px 16px 32px 32px
    position: absolute
    top: 75px
    right: 0
    width: $navWidth
    box-sizing: border-box
    outline: none
    outline-offset: 0
    user-select: none 
    display: flex
    flex-direction: column
    &__exit
        text-align: right
    &__heading
        font-size: 14px
        line-height: 17px
        color: $color1_3
        margin-bottom: 24px
    &__catalog:not(last-child)
        margin-bottom: 20px
    &__category
        font-size: 14px
        line-height: 17px
        color: $color0_1
        margin-bottom: 12px
    &__items   
        padding-left: 22px
    &__items li:not(last-child)
        margin-bottom: 11px
#switcher
    display: none
    &:checked ~ .nav
        display: none
        
/* breadcrumbs begin */
.breadcrumbs
    background: $color2_4
    padding-top: 60px
    padding-bottom: 60px
    display: flex
    justify-content: space-between
    align-items: center
    &__left
    &__heading
        font-size: 24px
        line-height: 29px
        color: $color0_1
    &__right
    &__menu
        display: flex
    &__link
        font-size: 14px
        line-height: 17px
        color: $color1_8
        &:not(:last-child):after
            content: '/'
            padding: 0 5px
    &__link > .active
        color: $color0_1
        font-weight: bold 
/* breadcrumbs end */

.promo
    background: $color2_6
    display: flex
    padding-left: calc(50% - 800px)
    padding-right: calc(50% - 800px)

.promo__img
    width: 50%

.promo_photo
    width: 100%
    user-select: none 

.promo__h1
    font-weight: 900
    font-size: 48px
    line-height: 58px
    color: $color1_1

.promo__h2
    font-weight: 700
    font-size: 32px
    line-height: 38px

.promo__h2_select
    color: $color0_1

.promo__text
    padding-top: 16%

.promo__content
    border-left: 12px solid $color0_1
    padding-left: 16px

.sale
    padding-top: 64px
    padding-bottom: 96px
    &__top
        display: flex
        flex-direction: row
        gap: 30px
        margin-bottom: 30px
    &__topItem
        overflow: hidden
        width: 360px
        height: 260px
        font-size: 16px
        line-height: 19px
        color: $color2_1
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        -webkit-background-size: cover 
        -o-background-size: cover 
        background-size: cover 
        &-1
            background-image: url(../img/Group36.jpg)
        &-2
            background-image: url(../img/Group37.jpg)
        &-3
            background-image: url(../img/Group38.jpg)
    &__span
        color: $color0_1
        font-size: 24px
        line-height: 28px
    &__bottom
        max-width: 1140px
        max-height: 180px 
    &__bottomItem
        overflow: hidden
        font-size: 16px
        line-height: 19px
        color: $color2_1
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        -webkit-background-size: cover 
        -o-background-size: cover 
        background-size: cover 
        &-4
            background-image: url(../img/Group39.jpg)
            height: 180px
            width: 100%

.products
    margin-bottom: 96px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__filters
        padding: 50px 0 0 0
        display: flex
        align-items: center
        width: 100%
    &__left
        font-weight: 600
        font-size: 14px
        line-height: 17px
        color: $color1_3
        margin-right: 300px 
    &__right
        display: flex
        font-size: 14px
        line-height: 17px
        color: $color1_4
    &__item
        position: relative
    &__mobile
        display: none
    &__item:not(last-child)
        margin-right: 28px
        font-size: 14px
        line-height: 17px
        color: $color1_4
    &__checkbox
        display: none
    &__trends,&__size,&__price
        width: 100%
        z-index: 1
        position: absolute
        padding: 7px 9px 12px 9px
        background: $color2_1
        box-shadow: 0 0 10px -5px $color1_3 
        top: 20px
    &__ul
        display: flex
        flex-direction: column
    &_li
        display: flex
        align-items: center
        &:not(last-child)
            margin-bottom: 10px
    &__li label
        padding-left: 10px
#trend
    display: none
    &:checked ~ .products__trends
        display: none
#size
    display: none
    &:checked ~ .products__size
        display: none
#price
    display: none
    &:checked ~ .products__price
        display: none

.products__heading
    font-size: 30px
    line-height: 36px
    color: $color1_1
    margin-bottom: 6px
    text-align: center

.products__text
    font-size: 14px
    line-height: 17px
    color: $color1_7
    margin-bottom: 48px
    text-align: center

.product-box
    padding-top: 48px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    gap: 30px
    width: 100%

.product
    background: $color2_3
    width: 360px
    position: relative

    &:hover
        .product__addToCart
            display: flex

        .product__img-link
            filter: brightness(0.5)

.product__img-link
    display: flex

.product__img
    width: 100%

.product__inner
    padding: 25px 16px 20px 16px
    text-align: left

.product__name
    font-size: 13px
    line-height: 16px
    color: $color1_3

.product__text
    font-weight: 300
    font-size: 14px
    line-height: 17px
    padding: 12px 0 18px 0

.product__price
    font-size: 16px
    line-height: 19px
    color: $color0_1

.product__cart
    margin-right: 11px

.product__addToCart
    position: absolute
    top: 188px
    left: 111px
    display: none
    justify-content: center
    align-items: center
    border: 1px solid $color2_1
    color: $color2_1
    font-size: 14px
    line-height: 17px
    width: 138px
    height: 43px

    &:hover
        background-color: $color2_1
        color: $color1_3

        .product__cart
            fill: $color1_3

.product__browseAll
    width: 211px
    height: 47px
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    line-height: 19px
    color: $color0_2
    border: 1px solid $color0_3
    margin-top: 24px

    &:hover
        background: $color0_1
        color: $color2_1

.badge
    margin: 0 auto
    background: $color1_1
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    padding: 104px 0 104px 0

.badge_card
    width: 100%
    max-width: 360px

.badge_h4
    font-size: 19.96px
    line-height: 24px
    color: $color2_2
    margin-bottom: 16px
    margin-top: 24px

.badge_p
    font-weight: 300
    font-size: 13.972px
    line-height: 17px
    color: $color2_2

.rewiews
    background-image: url('../img/reviews_bg.png')
    background-size: cover
    background-position: bottom
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-content: center
    padding-top: 150px
    padding-bottom: 150px

.rewiews__left
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.rewiews__left-p
    margin-top: 30px
    max-width: 360px
    text-align: center
    line-height: 24px
    text-align: center
    color: $color1_1

.rewiews__right
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    color: $color1_1

.rewiews__right-sub_h2
    font-size: 24px
    line-height: 40px

.rewiews__right-sub_p
    font-size: 18px
    line-height: 30px

.rewiews__right-subscribe
    display: flex
    flex-direction: row
    margin-top: 32px
    max-width: 570px

.rewiews__right-subscribe__left
    border: none
    outline: none
    background: $color2_5
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: center
    color: rgba(34, 34, 36, 0.67)
    height: 49px
    width: 100%
    max-width: 320px
    align-items: center
    padding-left: 22px
    border-radius: 50px 0 0 50px
    font-size: 20px

.rewiews__right-subscribe__right
    border: none
    outline: none
    cursor: pointer
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: center
    text-align: center
    color: $color2_1
    height: 49px
    width: 100px
    background: $color0_5
    align-items: center
    justify-content: center
    border-radius: 0 50px 50px 0

.footer
    background: $color1_2
    height: 80px
    display: flex
    align-items: center
    justify-content: space-between

.footer__left
    font-size: 16px
    line-height: 19px
    color: $color2_2

.footer__right
    display: flex
    justify-content: center
    align-items: center
    &-social
        width: 32px
        height: 32px
        background: $color2_1 
        display: flex
        justify-content: center
        align-items: center
    &-social:not(last-child)
        margin-right: 6px
    &-social:hover
        background: $color0_1
    &-social:hover svg > path
        fill: $color2_1

@import catalog
@import product
@import cart
@import animation
@import registration

@import adaptive1024px            
@import adaptive768px
@import adaptive320px